<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/demo.css"/>
    <link rel="stylesheet" href="assets/css/theme3.css"/>
  </head>
  <body>
    <div id="caleandar">

    </div>
    <script type="text/javascript" src="assets/js/caleandar.js"></script>
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script type="text/javascript" src="/calendarData"></script>
  </body>
</html>
