<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <link rel="icon" type="image/png" href="assets/img/logo.png">
   <title>Baguio Teacher's Camp</title>
   <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
   <meta name="viewport" content="width=device-width" />
   <link href="assets/css/boot/bootstrap.min.css" rel="stylesheet" />
   <link href="assets/css/animate.min.css" rel="stylesheet" />
   <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
   <link href='assets/fonts/Roboto.ttf' rel='stylesheet' type='text/css'>
   <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>
      <br> <br>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                     <div class="col-md-6">
                     <div class="card card-user">
                        <div class="image">
                           <img src="assets/img/green.png" alt="..." />
                        </div>
                        <div class="content">
                           <div class="author">
                              <a>
                                 <img class="avatar border-gray" src="assets/img/logo1.png" alt="..." />
                                 <h4 class="title">Reservation Updated<br/>
                                    <small>Changes have been made</small>
                                </h4>
                              </a>

                              <br><a class="btn btn-info btn-fill" href="/reservations" style="width: 200px;">View Reservations</a>
                           </div>
                        </div>
                     </div>
                  </div>
                </div>
            </div>
        </div>
</body>
  <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>
	<script src="assets/js/chartist.min.js"></script>
  <script src="assets/js/bootstrap-notify.js"></script>
	<script src="assets/js/light-bootstrap-dashboard.js"></script>
</html>